<header>
	<h1>ExamApp</h1>
	<nav class="navigation">
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Help", root_path %></li>
			<% if signed_in? %>
			<li><%= link_to "Sign Out", signout_path, :method => :delete %></li>
			<li><%= link_to "Profile", current_teacher %></li>
			<% else %>
			<li><%= link_to "Sign In", signin_path %></li>
			<% end %>
		</ul>
	</nav>
</header>